# Ignore binaries

**/bin/
**/bin-int/
!Premake/bin/
!Application/Vendor/assimp/zlib/bin

# Ignore log files

**.log

# Ignore Visual Studio files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Ignore make files

**/Makefile